.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    background: transparent;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.right-nav {
    border: 1px solid #E7E7E7;
    padding: 8px 12px;
}

.navbar nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    padding: 8px;
}

.navbar a:hover {
    background-color: #F3F2F2;
    color: #2B2B2D;
}

.navbar .cta {
    background: #111;
    color: white;
    padding: 8px 14px;
    display: flex;
}

.navbar .cta:hover {
    background-color: #000;
    color: #ffff;
}

.rightlogo {
    background-color: #fff;
    margin-left: 12px;
}